.card{
   
    border-radius: 1rem;
    margin-top: 5px;
    overflow: hidden;
    box-shadow: 0 2px 20px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition:transform 200ms ease-in ;
    background-color: rgb(217, 209, 209);
}
.imgtrainer{
    margin:  1.5rem;
    border-radius: 50%;
    height: 12rem;
    object-fit: cover;
    width: 80%;  
    
    
    
}
.cardTitle{
 display: flex;
 justify-content: center;
}

.card:hover{
    transform: scale(1.02);
    
}
 .card.cardBtn:hover{
    
color: blue;
}