.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #302e2e;
   
  }
  .logo{
    font-size: 3rem;
    margin-left: 6rem;
    margin-top: 1rem;
   
  }

.lists{
  display: flex;
  list-style: none;
}
.header ul li{
  margin-right: 3rem;
  margin-top: 1rem;
  font-size: 24px;

}
.header ul li:last-child{
  margin-right: 4rem;
}


.menutoggle {

display: none;
}


.header ul li a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  .menu {
      position: static;
      flex-direction: row;
      justify-content: flex-end;
      background-color: transparent;
      color: #333;
      transform: translateY(0);
    }
    .header{
      justify-content: flex-start;
  }
   
    .lists{
        display: none;
    }
    .listresponsive{
      position: absolute;
      display: block;
      list-style: none;
      width: 20%;
      text-align: center;
      top: 100px;
      right: 0px;
      color: gray;
      background: rgb(77, 74, 74);
    }
    .listresponsive li{
      padding-top: 10px;
      font-size: 16px;
      padding-bottom: 10px;
      cursor: pointer;
    }
    .listresponsive li:hover{
      color: black;
    }
    
    .menutoggle{
      display: block;
      position: absolute;
      color: gray;
     
      border: none;
      outline: none;
      right: 20px;
     
      height: 37px;
      
      font-size: 24px;
      
        
    }
   
    
    
}